.about
{
    padding-top: 100px;
    margin-bottom: -130px;

    h3 
    {
        font-weight: 500;
    }
}

.profile-img 
{
    height: 350px;
    border: 6px solid #000;
}

.skills-bar
{
    p 
    {
        margin-top: 20px;
        font-weight: 600;
    }
}

.progress
{
    border-radius: 16px !important;
    margin-bottom: 10px;
}

.progress-bar 
{
    border-radius: 16px;
    background-color: #000 !important;
}